CalculatriceService2/src/conf/xml-resources/web-services/CalcWS2/wsdl/localhost_8080/MathWebServices/CalcWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ISETZG/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ISETZG/">

<xs:element name="Addition" type="tns:Addition"/>

<xs:element name="AdditionResponse" type="tns:AdditionResponse"/>

<xs:element name="Multiplication" type="tns:Multiplication"/>

<xs:element name="MultiplicationResponse" type="tns:MultiplicationResponse"/>

<xs:element name="Soustraction" type="tns:Soustraction"/>

<xs:element name="SoustractionResponse" type="tns:SoustractionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplication">
<xs:sequence>
<xs:element name="A" type="xs:int"/>
<xs:element name="B" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Addition">
<xs:sequence>
<xs:element name="A" type="xs:int"/>
<xs:element name="B" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Soustraction">
<xs:sequence>
<xs:element name="A" type="xs:int"/>
<xs:element name="B" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SoustractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>