CalculatriceService2/src/conf/xml-resources/web-services/CalcWS2/wsdl/localhost_8080/MathWebServices/CalcWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ISETZG/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ISETZG/" name="CalcWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ISETZG/" schemaLocation="http://localhost:8080/MathWebServices/CalcWS?xsd=1"/>
</xsd:schema>
</types>
<message name="Soustraction">
<part name="parameters" element="tns:Soustraction"/>
</message>
<message name="SoustractionResponse">
<part name="parameters" element="tns:SoustractionResponse"/>
</message>
<message name="Multiplication">
<part name="parameters" element="tns:Multiplication"/>
</message>
<message name="MultiplicationResponse">
<part name="parameters" element="tns:MultiplicationResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Addition">
<part name="parameters" element="tns:Addition"/>
</message>
<message name="AdditionResponse">
<part name="parameters" element="tns:AdditionResponse"/>
</message>
<portType name="CalcWS">
<operation name="Soustraction">
<input wsam:Action="http://ISETZG/CalcWS/SoustractionRequest" message="tns:Soustraction"/>
<output wsam:Action="http://ISETZG/CalcWS/SoustractionResponse" message="tns:SoustractionResponse"/>
</operation>
<operation name="Multiplication">
<input wsam:Action="http://ISETZG/CalcWS/MultiplicationRequest" message="tns:Multiplication"/>
<output wsam:Action="http://ISETZG/CalcWS/MultiplicationResponse" message="tns:MultiplicationResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ISETZG/CalcWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ISETZG/CalcWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Addition">
<input wsam:Action="http://ISETZG/CalcWS/AdditionRequest" message="tns:Addition"/>
<output wsam:Action="http://ISETZG/CalcWS/AdditionResponse" message="tns:AdditionResponse"/>
</operation>
</portType>
<binding name="CalcWSPortBinding" type="tns:CalcWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Soustraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcWS">
<port name="CalcWSPort" binding="tns:CalcWSPortBinding">
<soap:address location="http://localhost:8080/MathWebServices/CalcWS"/>
</port>
</service>
</definitions>